@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  font-style: italic;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

html {
  font-size: 14px;
  line-height: 18px;
}

strong {
  @apply font-medium;
}

ul {
  @apply list-disc;
}
ol {
  @apply list-decimal;
}
ul,
ol {
  @apply list-outside;
}

@media print {
  ul,
  ol {
    @apply list-inside;
  }
}

@page {
  size: A4 portrait;
  margin: 15mm;
}

ul ul {
  @apply pl-4;
}
